MONGODB_URI=mongodb://localhost:17017
MONGODB_DATABASE=seatbooking
REDIS_ADDR=localhost:6380
REDIS_PASSWORD=redis_local
HTTP_ADDR=127.0.0.1:8080
APP_ORIGIN=http://localhost:3000
ADMIN_EMAIL=imrito18@gmail.com
ADMIN_PASSWORD=12345678
